html
  // Root font size. All other sizes with "rem" are relative to this
  font-size: 20px

  body
    color: #222
    font-family: cardo, georgia, serif
    line-height: 1.6em

    .container
      font-size: 1rem
      margin: 0 auto
      max-width: 600px
      padding: 20% 0 0 0

  /*
   * Headers
   */

  h1, h2, h3, h4, h5, h6
    font-family: helvetica, arial, geneva, sans-serif

  h1
    /* make this readable again
    color: #eee
    text-shadow: 0px 0px 4px #000
    */
    font-size: 6.25rem
    letter-spacing: -6px
    margin: 20px 0 50px 0

  h2
    font-size: 1.55rem
    margin: 30px 0 -10px 0

  h3
    font-size: 1.25rem
    margin: 30px 0 -15px 0

  h4
    font-size: 1.05rem
    margin: 30px 0 -15px 0

  /*
   * Lists
   */

  ol, ul
    margin: 20px 0

  li
    margin-bottom: 15px
    margin-left: 40px
    padding-left: 5px

  ol
    list-style-type: decimal

  ul
    list-style-type: disc

  /*
   * Prose
   */

  em
    font-style: italic

  p
    margin: 20px 0

    /* hyphens */
    hyphens: auto
    -moz-hyphens: auto
    -webkit-hyphens: auto

  strong
    font-weight: bold
