$sans_serif: helvetica, arial, geneva, sans-serif
$serif: cardo, georgia, serif

html
  // Root font size. All other sizes with "rem" are relative to this.
  //
  // This corresponds to the default font size of 16px.
  font-size: 100%

  body
    color: #222
    font-family: $serif
    line-height: 1.6em
    margin: 20px 30px

    .container
      //font-size: 1rem
      //margin: 0 auto

  a
    color: #222
    text-decoration: underline

    &:hover
      text-decoration: none

    &:visited
      text-decoration: underline

  /*
   * Headers
   */

  h1, h2, h3, h4, h5, h6
    font-family: $sans_serif
    line-height: 1em

    a, a:visited
      text-decoration: none

  h1
    color: #222
    font-size: 6.25rem
    letter-spacing: -6px
    margin: 50px 0 15px 0

  h2
    font-family: $serif
    font-size: 4rem
    margin: 50px 0 30px 0
    max-width: 400px
    text-align: center

  h3
    font-size: 1.25rem
    margin: 30px 0 10px 0

  h4
    font-size: 1.05rem
    margin: 30px 0 10px 0

  /*
   * Lists
   */

  ol, ul
    margin: 20px 0

  li
    margin-bottom: 15px
    margin-left: 20px
    padding-left: 3px

  ol
    list-style-type: decimal

  ul
    list-style-type: disc

  /*
   * Prose
   */

  em
    font-style: italic

  p
    margin: 20px 0

    /* hyphens */
    hyphens: auto
    -moz-hyphens: auto
    -webkit-hyphens: auto

  strong
    font-weight: bold

  /*
   * Article
   */

  article
    // flex
    align-items: center
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center

    p
      margin: 10px 0

    .col-style-1
      max-width: 600px

    .col-style-2
      max-width: 800px

    .col-style-1 > p:first-of-type:first-letter, .col-style-2 > p:first-of-type:first-letter
      float: left
      font-size: 3rem
      line-height: 0.7em
      margin: 5px 10px 0 0
