$sans_serif: helvetica, arial, geneva, sans-serif
$serif: cardo, georgia, serif

$color_highlight: #222
$color_primary: #4d4d4d
$color_secondary: #5d5d5d

html
  // Root font size. All other sizes with "rem" are relative to this.
  font-size: 17px

  body
    background: #fff url("/assets/mountain.png") no-repeat
    color: $color_primary
    font-family: $sans_serif
    font-weight: 300
    line-height: 1.6em
    margin: 20px 30px

  a
    color: $color_highlight
    text-decoration: underline

    &:hover
      text-decoration: none

    &:visited
      text-decoration: underline

  /*
   * Headers
   */

  h1, h2, h3, h4, h5, h6
    font-family: $sans_serif
    line-height: 1em

    a, a:visited
      text-decoration: none

  h1
    color: $color_highlight
    font-size: 6.25rem
    font-weight: normal
    letter-spacing: -8px
    margin: 50px 0 15px 0

  h2
    font-family: $serif
    font-size: 4.5rem
    letter-spacing: -5px
    margin: 30px 0
    text-align: center

  h3
    font-family: $serif
    font-size: 1.25rem
    letter-spacing: -1px
    margin: 30px 0 10px 0

  h4
    font-family: $serif
    font-size: 1.05rem
    letter-spacing: -0.5px
    margin: 30px 0 10px 0

  /*
   * Lists
   */

  ol, ul
    margin: 20px 0

    li
      margin-bottom: 15px
      margin-left: 20px
      padding-left: 3px

  ol
    list-style-type: decimal

  ul
    list-style-type: disc

  /*
   * Prose
   */

  em
    font-style: italic

  p
    margin: 20px 0

    /* hyphens */
    hyphens: auto
    -moz-hyphens: auto
    -webkit-hyphens: auto

  strong
    font-weight: bold

  /*
   * Article
   */

  .blot
    background: #fff url("/assets/blot.png") no-repeat center center
    height: 100px
    margin: 20px 0 15px 0
    width: 100%

  .brush
    background: #fff url("/assets/brush.png") no-repeat center center
    height: 75px
    margin: 20px 0 15px 0
    width: 100%

  .ring
    background: #fff url("/assets/ring.png") no-repeat center center
    height: 200px
    margin: 40px 0 30px 0
    width: 100%

  .title
    align-items: top
    display: flex
    height: 550px
    justify-content: center
    width: 100%

    .title-inner
      h1
        margin: 30px auto
        max-width: 700px
        text-align: center

      p.subtitle
        color: $color_highlight
        font-size: 0.75rem
        font-weight: bold
        letter-spacing: -0.5px
        text-align: center
        text-transform: uppercase

  .container
    display: flex
    margin: 0 auto
    width: 800px

    .sidebar
      flex: 1 1 auto
      margin: 0 60px 0 0
      min-width: 160px

      .toc
        position: -webkit-sticky
        position: sticky

        // Top is required for sticky
        top: 100px

        // h2
        ol
          font-size: 0.8rem
          font-weight: normal
          line-height: 1.3em
          margin: 20px 0

          li
            margin-bottom: 8px

            // h3
            ol
              color: $color_primary
              font-size: 0.65rem
              margin: 15px 0

              li
                a
                  color: $color_primary

                // h4
                ol
                  color: $color_secondary
                  font-size: 0.6rem
                  margin: 10px 0

                  li
                    margin-bottom: 4px

                    a
                      color: $color_secondary

          li.collapsed

          li.collapsed > ol
            display: none

        .toc-title
          color: #000
          font-size: 0.7rem
          font-weight: bold
          letter-spacing: -1px
          text-transform: uppercase

    article
      p
        margin: 10px 0

      p:first-of-type:first-letter
        float: left
        font-size: 4rem
        line-height: 0.7em
        margin: 5px 10px 2px 0

@media all and (-webkit-min-device-pixel-ratio: 1.5)
  html
    body
      background: #fff url("/assets/mountain@2x.png") no-repeat
      background-size: 600px 602px

    .blot
      background: #fff url("/assets/blot@2x.png") no-repeat center center
      background-size: 50px 100px

    .brush
      background: #fff url("/assets/brush@2x.png") no-repeat center center
      background-size: 281px 75px

    .ring
      background: #fff url("/assets/ring@2x.png") no-repeat center center
      background-size: 200px 200px
